<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p align="center">
  <%= image_tag("c2m2_logo.png") %>
</p>
<h2 align="center">Password Reset for C2M2 Dev</h2>
<p align="center">
  A request has been made to reset the password associated with this email
  address.
</p>
<p align="center">
  Please follow the link below to reset your password.
  The link will be valid for 24 hours.
</p>
<p align="center">Reset your password: <a href="<%= @url %>"><%= @url %></a></p>
</body>
</html>
