<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p align="center">
<%= image_tag("c2m2_logo.svg", :style => "width: 200px") %>
</p>
<h2 align="center">Welcome to C2M2 Dev!</h2>
<p align="center">
  A new cataloger account has been created for you.
  To log in to the site, visit <a href="<%= @url %>"><%= @url %></a>.
</p>
<p align="center">Thanks and have a great day!</p>
</body>
</html>
