<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p align="center">
  <%= image_tag("c2m2_logo.png") %>
</p>
<h2 align="center">Welcome to C2M2 Dev!</h2>
<p align="center">
  A new cataloger account has been created for you.
</p>
<p align="center">
  To set your password, visit <a href="<%= @url %>"><%= @url %></a>
  and follow the instructions.
</p>
</body>
</html>
