@import '../../node_modules/sienna-boilerplate/sienna-boilerplate.less';

// Colors
@primary: #0099F6;
@secondary: lighten(@primary, 20%);
@link-color: @primary;

@error: red;
@warn: goldenrod;
@success: forestgreen;

.uppercase() {
  text-transform: uppercase;
  font-weight: bold;
  font-size: inherit;
  text-decoration: none;
  letter-spacing: .1rem;
  color: inherit;
}

.button-symbol() {
  padding: 0;
  font-size: 30px;
  line-height: 1;
  vertical-align: top; // needed for horizontal alignment
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.logo {
  width: 14em;
  padding: 1em;
}

.title a {
  color: inherit;
}

main {
  clear: both;

  & > div {
    margin: 3.5rem 0;
  }
}

p.caption {
  font-style: italic;
  font-size: 90%;
  text-align: center;
}

form {
  label * {
    font-weight: normal;
  }

  .status-message.form-message {
    float: right;
    margin-bottom: 0;
  }

  .select-with-query {
    select {
      width: calc(100% - 50px);
    }

    button {
      .button-symbol();
      margin-left: 12px;
      width: 38px;
    }
  }

  .g-recaptcha > div > div {
    margin: 1rem auto 4rem auto;
  }
}

.status-message {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;

  &.error {
    color: @error;
  }

  &.warn {
    color: @warn;
  }

  &.success {
    color: @success;
  }
}

footer {
  clear: both;
  margin: 6rem 0 0 0;
  font-size: 90%;

  & > * {
    border-top: solid @light-gray 1px;
    padding: 3rem 0;
  }

  #footer-links {
    h5 {
      .uppercase();
      margin: 1rem 0;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }

  #footer-attribution {
    text-align: center;
  }
}

#works-list-table {
  td > span {
    display: block; // gives new line for each item (ex. two directors)
  }
}

.load-more {
  margin-top: 6rem;
}

// Modal
.custom-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .custom-modal {
    position: fixed;
    max-height: calc(90%);
    top: 10%;
    right: 20%;
    left: 20%;
    border: 1px solid @border-color;
    background: @white;
    overflow: auto;
    overflow-scrolling: touch;
    border-right: 4px;
    outline: none;
    padding: 30px;

    .custom-modal-x {
      .button-symbol();
      display: inline-block;
      margin-left: 1rem;
      float: right;
      color: @gray;
      text-transform: lowercase;
    }

    h3 {
      margin-top: 0;
      clear: none;
    }

    form {
      margin-bottom: 0;
    }
  }
}
