@import '../../node_modules/sienna-boilerplate/sienna-boilerplate.less';

// Colors
@primary: #0099F6;

@error: red;
@warn: goldenrod;
@success: forestgreen;

.uppercase() {
  text-transform: uppercase;
  font-weight: bold;
  font-size: inherit;
  text-decoration: none;
  letter-spacing: .1rem;
}

.button-symbol() {
  padding: 0;
  font-size: 30px;
  line-height: 1;
  vertical-align: top; // needed for horizontal alignment
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

// override shadow mixin from boilerplate styles
.shadow () {
  border: solid 1px @light-gray;
  -webkit-box-shadow: 0 0 30px -5px fade(@black, 30%);
  -moz-box-shadow: 0 0 30px -5px fade(@black, 30%);
  box-shadow: 0 0 30px -5px fade(@black, 30%);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.logo {
  width: 14em;
  padding: 1em;
}

.title a {
  color: inherit;
}

main {
  clear: both;

  & > div {
    margin: 3.5rem 0;
  }
}

p.caption {
  font-style: italic;
  font-size: 90%;
  text-align: center;
}

table {
  tr th {
    vertical-align: top;
  }
}

ul, ol {
  &.no-margin {
    margin: 0;
  }
}

button.link {
  background-color: transparent;
  border: none;
  color: #333;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: auto;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-transform: none;

  &:hover {
    text-decoration: underline;
  }
}

form {
  label {
    position: relative; // for tooltip alignment

    * {
      font-weight: normal;
    }
  }

  // form buttons
  .buttons-parent {
    display: flex;

    & > * {
      margin-left: 5px;
      margin-right: 5px;
    }

    & > *:first-child {
      margin-left: 0;
    }

    & > *:last-child {
      margin-right: 0;
    }

    button:not(:disabled):hover.button-delete {
      background-color: @error;
      color: @white;
    }
  }

  .help-text {
    font-size: 80%;
    color: @gray;
    margin-bottom: .5rem;
  }

  .status-message.form-message {
    float: right;
    margin-bottom: 0;
  }

  .react-select {
    margin-bottom: 1.5rem;

    input[type="text"] {
      height: auto;
      margin-bottom: 0;
    }
  }

  .select-with-query.has-button {
    .react-select {
      display: inline-block;
      width: calc(100% - 50px);
    }

    button {
      .button-symbol();
      margin-left: 12px;
      width: 38px;
      height: 44px;
    }
  }

  .g-recaptcha > div > div {
    margin: 1rem auto 4rem auto;
  }
}

.status-message {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: @gray;

  nav + & {
    padding-top: 3.5rem;
  }

  &.fade {
    animation-delay: 7s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
  }

  &.error {
    color: @error;
  }

  &.warn {
    color: @warn;
  }

  &.success {
    color: @success;
  }
}

.edit-entry-link {
  display: block;
  text-align: right;
}

footer {
  clear: both;
  margin: 6rem 0 0 0;
  font-size: 90%;

  & > * {
    border-top: solid @light-gray 1px;
    padding: 3rem 0;
  }

  #footer-links {
    h5, .h5 {
      .uppercase();
      margin: 1rem 0;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }

  #footer-attribution {
    text-align: center;
  }
}

.load-more {
  margin-top: 6rem;
}

.entry-type {
  .uppercase();
  color: @gray;
  font-size: 1.5rem;

  ~ h3, ~.h3 {
    margin-top: 0;
  }
}

.publication-status {
  color: white;
  background-color: @gray;

  &.approved {
    background-color: @success;
  }

  &.provisional {
    background-color: @warn;
  }

  &.bar { // for detailed resource view
    padding: 10px 20px;
    margin-bottom: 15px;
    text-align: center;

    h3, .h3 {
      .uppercase();
      font-size: 1.5rem;
      margin: 0 10px 0 0;
      display: inline-block;
    }

    span {
      display: inline-block;
    }
  }

  &.tag {
    .uppercase();
    display: inline-block;
    padding: .15em 10px;
    border-radius: 5px;
    font-size: .7em;
  }
}

// Modal
.custom-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .custom-modal {
    position: fixed;
    max-height: calc(90%);
    top: 10%;
    right: 20%;
    left: 20%;
    border: 1px solid @border-color;
    background: @white;
    overflow: auto;
    overflow-scrolling: touch;
    border-right: 4px;
    outline: none;
    padding: 30px;

    .custom-modal-x {
      .button-symbol();
      display: inline-block;
      margin: 0 0 0 1rem;
      float: right;
      color: @gray;
      text-transform: lowercase;
      border: none;
      height: auto;

      &:hover, &:focus {
        color: @black;
      }

      &:focus {
        outline: @gray 5px auto;
      }
    }

    h3, .h3 {
      margin-top: 0;
      clear: none;
    }

    form {
      margin-bottom: 0;
    }
  }
}

// Citations
.field-info-tooltip {
  display: inline-block;

  .tooltip-anchor {
    border-radius: 50%;
    background-color: @gray;
    color: @white;
    cursor: help;
    width: 1em;
    height: 1em;
    margin: 0.1rem 0.5rem;
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
  }

  .tooltip-content {
    .shadow();
    cursor: help;
    color: @gray;
    background-color: @white;
    border: solid 1px @border-color;
    font-size: 80%;
    text-align: left;
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    left: 1em;
    padding: 1rem;
    border-radius: 4px;
    z-index: 2;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    p {
      .uppercase();
      text-align: center;
      color: inherit;
      margin: 0 0 1rem 0;
    }

    ul.tooltip-rules {
      margin-bottom: 0;
    }

    a {
      word-break: break-word;
    }

    hr {
      margin: 1rem 0;
    }
  }
}
